<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
  {{#useC3}}
  <link rel="stylesheet" href="/vendor/c3/c3.css" />
  {{/useC3}}
  <style>
    .chart-container {
      width: 100%;
      height: 0;
      padding-bottom: 50%;
      position: relative;
      margin-bottom: 50px;
    }
    .chart-container > svg {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  </style>
</head>
<body>
<h1>{{ dashboardAndData.title }}</h1>
{{#dashboardAndData.modules}}
<h2 class="js-chart-heading-{{ index }}">{{ moduleConfig.title }}</h2>
<div class="chart-container js-chart-{{ index }}">
</div>
{{/dashboardAndData.modules}}
<script>
  var dashboardAndData = {{{ escapedData }}};
</script>
<script src="/vendor/requirejs/require.js" /></script>

{{#useGoogleCharts}}
<script src='https://www.google.com/jsapi?autoload={"modules":[{"name":"visualization","version":"1","packages":["corechart"]}]}'></script>
<script>
  google.setOnLoadCallback(function () {
    require(["/assets/js/client/gc/main.js"]);
  });
</script>
{{/useGoogleCharts}}

{{#useC3}}
<script>
  require(["/assets/js/client/c3/main.js"]);
</script>
{{/useC3}}

</body>
</html>
