<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
  {{#useC3}}
  <link rel="stylesheet" href="/performance/vendor/c3/c3.css" />
  {{/useC3}}
  <link rel="stylesheet" href="/performance/assets/css/main.css" />
</head>
<body>
<div class="wrapper">
<h1>{{ dashboardAndData.title }}</h1>
{{#dashboardAndData.modules}}
<div id="module-{{ index }}" class="module module-{{ moduleConfig.module-type }}  js-module-{{ index }}">
<h2 class="js-module-heading">{{ moduleConfig.title }}</h2>
    {{^isKPI}}
    <div>
    <label><input type="radio" name="type-{{ index }}" data-index="{{ index }}" value="line" checked /> Line</label>
        <label><input type="radio" name="type-{{ index }}" data-index="{{ index }}" value="bar" /> Bar</label>
        <label><input type="radio" name="type-{{ index }}" data-index="{{ index }}" value="area" /> Area</label>
    </div>
    {{/isKPI}}
<div class="module-inner js-module-inner">
  {{#isKPI}}
    <div class="big-number">{{data.0.formatted_value}}</div>
  {{/isKPI}}
</div>
</div>
{{/dashboardAndData.modules}}
</div>
<script>
  var dashboardAndData = {{{ escapedData }}};
</script>
<script src="/performance/vendor/requirejs/require.js" /></script>

{{#useGoogleCharts}}
<script src='https://www.google.com/jsapi?autoload={"modules":[{"name":"visualization","version":"1","packages":["corechart"]}]}'></script>
<script>
  google.setOnLoadCallback(function () {
    require(["/performance/assets/js/client/gc/main.js"]);
  });
</script>
{{/useGoogleCharts}}

{{#useC3}}
<script>
  require(["/performance/assets/js/client/c3/main.js"]);
</script>
{{/useC3}}

</body>
</html>
