<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
  {{#useC3}}
  <link rel="stylesheet" href="/performance/vendor/c3/c3.css" />
  {{/useC3}}
  {{#useNVD3}}
  <link rel="stylesheet" href="/performance/vendor/nvd3/nv.d3.css" />
  {{/useNVD3}}
  <link rel="stylesheet" href="/performance/assets/css/main.css" />
</head>
<body>
<div class="wrapper">
<h1>{{ dashboardAndData.title }}</h1>

{{#dashboardAndData.modules}}
{{> module}}
{{/dashboardAndData.modules}}

</div>
<script>
  var dashboardAndData = {{{ escapedData }}};
</script>

<!-- {{#useGoogleCharts}}
<script src='https://www.google.com/jsapi?autoload={"modules":[{"name":"visualization","version":"1","packages":["corechart"]}]}'></script>
<script>
  google.setOnLoadCallback(function () {
    require(["/performance/assets/js/client/gc/main.js"]);
  });
</script>
{{/useGoogleCharts}} -->


{{#useNVD3}}
  <script src="/performance/assets/js/client/nvd3/bundle.js"/></script>
{{/useNVD3}}

{{#useC3}}
  <script src="/performance/assets/js/client/c3/bundle.js" /></script>
{{/useC3}}

</body>
</html>
