.wrapper {
    margin: 0 auto;
    width: 80%;
}

.module-inner {
    width: 100%;
    height: 0;
    padding-bottom: 40%;
    position: relative;
}
.module {
    clear: left;
    padding-bottom: 50px;
    border-bottom: 1px solid darkgray;
    margin-bottom: 50px;
}
.module-kpi {
    clear: none;
    width: 30%;
    float: left;
}
.module-kpi .module-inner {
    padding: 0;
    height: auto;
}
.module-inner > svg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

body {
    font-size: 16px;
    font-family: "Helvetic Neue", Helvetica, Arial;
}
.big-number {
    font-size: 3rem;
    font-weight: bold;
}



/**
GRAPH
*/

.c3-axis-y .domain {
    stroke: none;
}

.c3-axis-x .domain {
    stroke: #cccccc;
}

.c3-tooltip {
   box-shadow: none;
}

.c3-tooltip th {
    background-color: white;
    border-bottom: 1px solid gray;
    color: black;
}

.c3-line {
    stroke-width: 2px;
}
